<ion-footer>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button href="https://github.com/nitrotap/ionic-poetry-masher" target="_blank" fill="clear">
        <ion-icon slot="icon-only" name="logo-github"></ion-icon>
      </ion-button>
      <ion-button href="https://www.linkedin.com/in/kjevaji" target="_blank" fill="clear">
        <ion-icon slot="icon-only" name="logo-linkedin"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label slot="end" class="copyright">© 2023 Kartikrao Jevaji</ion-label>
  </ion-toolbar>
</ion-footer>