<ion-content>

  <ion-content>
    <div class="center container">
      <ion-item class="center">
        <ion-label>
          <h1 class="title">Line Mash</h1>
        </ion-label>
      </ion-item>


      <ion-item class="center">
        <ion-label class="wrapper">
          <ion-text class="subtitle">Paste your lines and organize them with drag and drop.
            <br />
            Randomize the lines and play with
            your stanzas
          </ion-text>
        </ion-label>
      </ion-item>


      <ion-item class="center">
        <ion-tab-button tab="tab2" routerLink="/tabs/tab2">
          <h1 class="button">Get Started</h1>
        </ion-tab-button>
      </ion-item>

      <ion-item class="center">
        <ion-tab-button tab="tab3" routerLink="/tabs/tab3">
          <h1 class="button">History</h1>
        </ion-tab-button>
      </ion-item>
    </div>


    <app-footer></app-footer>


  </ion-content>




  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->

</ion-content>